.main
  .card-panel
    padding: 40px
  .certificado-contacto
    &__contacto-titulo
      text-align: center
      margin: 50px 0
      font-size: 35px
      color: $color-variacion
    &__pregunta
      font-size: 35px
      height: 90px
      color: $color-variacion
      margin: 50px 0
      text-align: center
    .theme-mi-slider
      .nivoSlider
        position: relative
        a
          border: 0
          display: block
      .nivo-controlNav
        display: flex
        justify-content: center
        .nivo-control
          display: block
          width: 18px
          height: 18px
          background: #545454
          border-radius: 50%
          margin: 5px
          text-indent: -9999px
          &.active
            background: #64b2cd
          &:hover
            background: #1b1b1b
      .nivo-directionNav
        a
          display: block
          width: 35px
          height: 35px
        .nivo-prevNav
          background-image: url(../icon/left-arrow.svg)
          background-size: cover
          text-indent: -9999px
          left: 6px
        .nivo-nextNav
          background-image: url(../icon/right-arrow.svg)
          background-size: cover
          text-indent: -9999px
          margin-left: 15px
          right: 6px
      .nivo-html-caption
        position: absolute
        top: 40%
