$Fuente1: 'Open Sans', sans-serif
$Fuente2: 'Lato', sans-serif
$color-primario: #495867
$color-claro: #f7f7ff
$color-secundario: #bdd5ea
$color-variacion: #577399

@mixin descripcionDeImagenes
  width: 40%
  background: $color-primario
  border-radius: 15px
  font-size: 20px
  color: $color-claro
  line-height: 28px

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  margin: 0
  padding: 0

.contenedor
  width: 90%
  max-width: 1000px
  margin: auto
  overflow: hidden

body
  background: $color-secundario
  font-family: $Fuente1
  font-size: 16px
  .overlay
    position: fixed
    top: 0
    bottom: 0
    right: 0
    background: rgba(0, 0, 0, 0.9)
    width: 100%
    height: 100vh
    display: none
    align-items: center
    justify-content: center
    flex-direction: column
    z-index: 11
    .descripcion
      padding: 20px
      margin: 20px
      text-align: center
      @include descripcionDeImagenes
    .contenedor-img
      position: relative
      #btn-cerrar-lightbox
        background: none
        font-size: 20px
        color: $color-claro
        border: none
        cursor: pointer
        position: absolute
        right: -20px
        top: -20px
      img
        max-width: 100%
    &.activo // lo muestro con js
      display: flex
